// ######################################## //
// ## HOME.SCSS ## //
// ######################################## //


// Container
.container {
  width: 100%;
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
}

// Navbar
.navbar {
  padding: 0.25rem 1rem;
  
  // Logo Image
  .logo {
    width: 8rem;
    height: 4rem;
  }
  
  // Left list
  .left-list {
    
    // left list item
    .left-li {
      padding: 1.25rem 1rem 0.5rem;
      
      // left links
      .left-link {
        font-size: 15px;
        color: $gray-6;
        font-weight: 400;
        padding: 0 0 0.5rem;
        
        &:hover {
          font-weight: 500;
          color: $theme-blue;
          border-bottom: 3px solid $theme-blue;
        }
      }
    }
    
    // Dropdown caret
    .dropdown-toggle::after {
      
      // No display on desktop
      @include desktop {
        display: none;
      }
    }
  }
  
  // Right list
  .right-list {
    padding: 0.75rem 0;
    
    // List item 
    .nav-item {
      padding: 0.5rem 0;
    }
    
    // Hiring
    .hiring {
      display: inline-block;
      color: rgba($white, 0.9);
      position: relative;
      background: linear-gradient(0, rgba($white, 0.11) 0%, rgba($white,0.03) 100%);
      padding: 8px 12px 8px 24px;
      font-size: 14px;
      border-radius: 2px;
      margin-right: 5px;
      
      @include desktop {
        margin: 2px 8px;
      }
      
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        height: 8px;
        width: 8px;
        color: $white;
        border: 1px solid $white;
        border-radius: 50%;
        background-color: $white;
      }
      
      &:hover {
        padding-bottom: 8px;
        border-bottom: 2px solid #fff;
      }
    }
    
    // Flag
    .flag {
      width: 28px;
      height: 24px;
    }
    
    // Login text
    .login-text {
      color: $white;
      margin-right: 5px;
      font-size: 15px;
      
      @include desktop {
        margin-right: 8px;;
      }
    }
    
    // Form navbar
    .form-navbar {
      background: #fff;
      border-radius: 3px;
      height: 42px;
      border: 1px solid rgba($black, 0.07);
      box-shadow: 2px 4px 9px 1px rgba($black, 0.05);
      -webkit-transition: .2s cubic-bezier(.25,.1,.25,1);
      transition: .2s cubic-bezier(.25,.1,.25,1);
      padding: 0 20px;
      position: relative;
      top: -5px;
      font-weight: bold;
      font-size: 16px;
      
      &.active {
        color: #528ff0;
        background: #fff;
        border-radius: 3px;
        border: 1px solid rgba($black, 0.07);
        
        .email-navbar {
          width: 180px;
          opacity: 1;
          position: relative;
          z-index: 1;
          padding-left: 14px;
          border: none;
          outline: none;
        }
        
        .signup-btn {
          border: none;
          color: $theme-primary-bg-dark;
          padding-right: 30px;
        }
      }
      
      // Input
      .email-navbar {
        width: 0;
        padding: 8px 0;
        left: 1px;
        margin: 0 20px 0 -20px;
        -webkit-transition: .22s;
        transition: .22s;
        opacity: 0;
        height: 36px;
        
        &::-webkit-input-placeholder {
          color: $gray-a;
          font-size: 15px;
        }
        
        &:focus {
          outline: none;
        }
      }
      
      //Signup btn
      .signup-btn {
        border: none;
        background: $white;
        padding: 8px 16px 8px 8px;
        margin: 0 -18px;
        position: relative;
        font-weight: bold;
        color: #528ff0;
        -webkit-transition: .2s;
        transition: .2s;
        
        &:hover {
          color: $theme-primary-bg-dark;
        }
      }
    }
  }
}

// Home banner
.banner {
  position: relative;
  padding: 3.5rem 0 5rem;
  margin-bottom: 6rem;
  
  &::before {
    content: '';
    position: absolute;
    top: -61%;
    left: 90%;
    height: 50vw;
    width: 100vw;
    color: $theme-blue;
    background: linear-gradient(45deg, $theme-primary-bg-dark, rgba($theme-primary-bg-light, 0.5));
    transform-origin: 0 0;
    transform: rotateZ(45deg) skewX(-15deg) skewY(-16deg);
    z-index: -1;
    border-radius: 1px;
    box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0;
    
    // Large screen
    @include desktop {
      top: -22vw;
      left: 86%;
      height: 50vw;
    }
  }
  
  &::after {
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    bottom: -37%;
    left: 0%;
    color: $theme-blue;
    background: linear-gradient(45deg, rgba($theme-primary-bg-dark, 0.9), $theme-primary-bg-dark);
    transform-origin: 0 0;
    transform: rotateZ(46deg) skewX(-10deg) skewY(-10deg);
    z-index: -1;
    border-radius: 1px;
    box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0;
  }
  
  // Bg Illustration right
  .banner-image {
    position: absolute;
    height: 47vw;
    width: 40vw;
    top: -7%;
    right: 5%;
    margin: 30px 0 0 -30px;
    
    //large screen
    @include desktop {
      height: 110%;
      width: 50vw;
      top: -6%;
      right: -6%;
    }
    
    // Image
    .image {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  // header section
  .header {
    margin-bottom: 2rem;
    
    // Heading
    .heading {
      color: $theme-primary;
      line-height: 1.2;
      font-weight: 900;
      
      &:after {
        content: '';
        display: block;
        width: 1.55rem;
        height: 0.25rem;
        margin: 1rem 0;
        background: $theme-success;
        
        @include desktop {
          margin: 1rem 0 1.4rem;
        }
      }
    }
    
    // Subtext
    .sub-text {
      font-size: 1.1rem;
      line-height: 1.7;
      margin: 0 42rem 0 0;
      color: $theme-secondary;
      
      @include desktop {
        font-size: 18px;
        line-height: 1.6;
      }
    }
  }
  
  // Signup form section
  .signup-form {
    display: inline-block;
    border: 1px solid $theme-blue;
    border-radius: 3px;
    padding: 0 1rem;
    box-shadow: 0 3px 9px 0 rgba($black, 0.1);
    line-height: 45px;
    margin: 0 0.5rem 2rem 0;
    
    // Email
    .email-form {
      border: none;
      padding-right: 4rem;
      
      @include desktop {
        padding-right: 2.9rem;
      }
      
      &::-webkit-input-placeholder {
        color: $gray-a;
        font-size: 15px;
      }
      
      &:focus {
        outline: none;
      }
    }
    
    // Signup btn
    .btn-form {
      border: none;
      font-size: 15px;
      color: $theme-blue;
      font-weight: 600;
      background: $white;
      
      &:hover {
        color: $theme-primary-bg-dark;
      }
      
      // Icon forward
      .icon-form {
        margin: 0 0 0 0.1rem;
      }
    }
  }
  
  // Demo button div
  .demo-btn {
    display: inline-block;
    border: 1px solid rgba($theme-blue, 0.3);
    border-radius: 3px;
    line-height: 45px;
    box-shadow: 0 2px 16px 0px rgba($black, 0.1);
    
    &:hover {
      transition: 0.3s;
      transform: translateY(-2px) scale(1.02);
      box-shadow: 0 6px 20px 4px rgba(0, 0, 0, 0.1);
    }
    
    // Btn text
    .btn-demo {
      font-size: 15px;
      color: $theme-blue;
      font-weight: 600;
      padding: 0.75rem 1rem;
      background: $white;
      
      @include desktop{
        padding: 0.75rem 1.25rem;
      }
      
      &:hover {
        color: $theme-primary-bg-dark;
      }
    }
    
  }
  
  // Footer section
  .footer-sec {
    font-size: 0.9rem;
    padding-left: 1rem;
    position: relative;
    
    &:before {
      content: '';
      position: absolute;
      top:0;
      left: 0;
      width: 1px;
      height: 42px;
      background-color: rgba($theme-blue, 0.3);
    }
    
    // Badge
    .badge {
      font-size: 12px;
      text-transform: uppercase;
      color: $white;
      background-color: $theme-info-bg;
      padding: 0.3rem 0.4rem;
      border-radius: 2px;
    }
    
    // Bold-text
    .bold-text {
      opacity: 0.8;
    }
    
    // Read more link text
    .read-text {
      opacity: 0.9;
      font-weight: 500;
      text-decoration: none;
      
      &:hover, &:focus, &:active {
        text-decoration: none;
        color: $theme-blue;
      }
    }
  }
  
  // footer image
  .banner-footer {
    position: absolute;
    height: 124px;
    width: 277px;
    bottom: -20%;
    
    // Image
    .image {
      height: 100%;
      background: no-repeat right top;
      background-size: contain;
    }
  }
  
}

// Popover
.popover {
  
  // Arrow
  .arrow {
    color: black;
    opacity: 0.9;
    
    &::before {
      border-bottom-color: rgba($black, 0.9) !important;
    }
    
    &::after {
      border-bottom-color: rgba($black, 0.9) !important;
    }
  }
  
  // body
  .popover-body {
    @include ff-primary;
    width: 242px;
    color: rgba($white, 0.8);
    padding: 10px 20px;
    background-color: rgba($black, 0.9);
    border-radius: 4px;
  }
}

// 3 & 4 section
.dark-sec {
  
  //feature section
  &.feature-sec {
    margin: 5rem 0 0;
    color: $white !important;
    position: relative;
    padding: 6rem 0 0;
    
    // background-sec
    .bg-dark-before {
      background: linear-gradient(to bottom left, rgba($theme-primary-bg-light, 1) 0%, rgba($theme-primary-bg-dark, 1) 50%, rgba($theme-primary-bg-dark, 1) 100%);
      width: 1500px;
      height: 670px;
      position: absolute;
      transform: skewY(-8deg);
      top: 0;
      
      &:before {
        content: '';
        position: absolute;
        top: -145px;
        left: -90px;
        width: 500px;
        height: 500px;
        opacity: 0.08;
        transform: rotate(30deg) skewX(-19deg) skewY(-11deg);
        background: $theme-blue;
      }
    }
    
    // background-sec
    .bg-dark-after {
      background: linear-gradient(to bottom left, rgba($theme-primary-bg-light, 1) 0%, rgba($theme-primary-bg-dark, 1) 100%);
      background: $theme-primary-bg-dark;
      width: 1500px;
      height: 450px;
      position: absolute;
      transform: skewY(5deg) skewX(-30deg);
      bottom: -76px;
      left: -160px;
      z-index: -1;
    }
    
    // header section
    .sec-header {
      
      // heading
      .text-heading {
        color: $white;
      }
      
      //sub-text 
      .sub-text {
        max-width: 450px;
      }
    }
    
    // body section
    .sec-body {
      
      // column div
      .columns-sec {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        // Column
        .column {
          margin: 0 0 2.5rem;
          
          // Icon
          .icon-feature {
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
          
          // title
          .title {
            font-size: 18px;
            font-weight: 600;
            margin: 1rem 0 0.75rem;
          }
          
          // subtext
          .feature-text {
            max-width: 230px;
            line-height: 1.8;
          }
        }
      }
      
    }
  }
  // More header
  .sec-header {
    
    &.center {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  // heading
  .text-heading {
    color: $theme-primary;
    line-height: 1.2;
    font-weight: 900;
    font-size: 1.5rem;
    
    &:after {
      content: '';
      display: block;
      width: 1.55rem;
      height: 0.25rem;
      margin: 1rem auto;
      background: $theme-success;
    }
  }
  
  // Sub-text
  .sub-text {
    max-width: 430px;
    margin: 0 auto;
    line-height: 25px;
  }
  
  // Section body
  .sec-body {
    margin-top: 2rem;
    
    // section of columns
    .columns {
      display: flex;
      flex-wrap: wrap;
      border-image: radial-gradient(rgba($black, 0.2), transparent) .5;
      
      &:first-child{
        // first row cells
        .column {
          border-bottom: 2px solid;
        }
      }
      
      // Card
      .cards {
        display: block;
        flex: 1 1 0;
        max-width: 100%;
        position: relative;
        height: 270px;
        border-image: radial-gradient(rgba($black, 0.2), transparent) .5;
        padding: 12px;
        
        &:first-child {
          border-right: 2px solid;
        }
        
        &:last-child {
          border-left: 2px solid;
        }
        
        // Background image
        .background {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-repeat: no-repeat;
          background-size: 40%;
          background-position: right bottom;
          box-shadow: 5px 7px 10px 0 rgba($theme-primary-bg-light, 0.06);
          border: none($black, 0.04);
          transition: 0.5s;
          transform-origin: center;
          opacity: 0;
          
          &:hover {
            position: absolute;
            z-index: 2;
            opacity: 1;
            background-color: rgba($theme-primary-bg-light, 0.1);
            transform: scale(1.2, 1.2);
          }
        }
        
        // header
        .header {
          
          // image-icon
          .image-icon {
            width: 3rem;
            height: 3rem;
          }
          
          // title
          .title {
            color: $theme-primary;
            line-height: 28px;
            font-weight: 600;
            font-size: 1rem;
            margin: 1rem 0;
          }
        }
        
        // Body
        .body {
          
          // text
          .text {
            color: lighten($theme-secondary, 15%);
            width: 300px;
            text-align: center;
            margin: 1rem auto;
          }
        }
        
        // footer
        .footer {
          
          // link
          .link {
            color: $theme-blue;
            font-weight: 700;
            font-size: 16px;
          }
        }
      }
    }
  }
  
}