// ######################################## //
// ## HOME.SCSS ## //
// ######################################## //


// Container
.container {
  width: 100%;
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
}

// Navbar
.navbar {
  
  // Logo Image
  .logo {
    width: 8rem;
    height: 4rem;
  }
  
  // Left list
  .left-list {
    
    // left links
    .left-link {
      font-size: 15px;
      color: $gray-6;
      font-weight: 400;
      margin-right: 1.25rem;
      padding-top: 1rem;
      
      &:hover {
        color: $theme-primary;
        border-bottom: 1px solid $theme-primary;
      }
    }
    
    // Dropdown caret
    .dropdown-toggle::after {
      
      // No display on desktop
      @include desktop {
        display: none;
      }
    }
  }
  
  // Right list
  .right-list {
    
    // Hiring
    .hiring {
      display: inline-block;
      color: rgba($white, 0.9);
      font-size: 1rem;
      position: relative;
      background: linear-gradient(0, rgba($white, 0.11) 0%, rgba($white,0.03) 100%);
      padding: 8px 12px 8px 24px;
      font-size: 14px;
      border-radius: 2px;
      margin-right: 5px;
      
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        height: 8px;
        width: 8px;
        color: $white;
        border: 1px solid $white;
        border-radius: 50%;
        background-color: $white;
      }
      
      &:hover {
        padding-bottom: 8px;
        border-bottom: 2px solid #fff;
      }
    }
    
    // Flag
    .flag {
      width: 2rem;
      height: 1.1rem;
    }
    
    // Login text
    .login-text {
      color: $white;
      margin-right: 5px;
    }
    
    //Signup btn
    .signup-btn {
      border: none;
      font-size: 15px;
      color: $theme-blue;
      font-weight: 600;
      padding: 9px 18px;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba($black, 0.1);
      background: $white;
      
      &:hover {
        color: $theme-primary-bg-dark;
      }
    }
  }
}

// Home banner
.banner {
  position: relative;
  padding: 3.5rem 0 5rem;
  
  &::before {
    content: '';
    position: absolute;
    top: -61%;
    left: 90%;
    height: 50vw;
    width: 100vw;
    color: $theme-blue;
    background: linear-gradient(45deg, $theme-primary-bg-dark, rgba($theme-primary-bg-light, 0.5));
    transform-origin: 0 0;
    transform: rotateZ(45deg) skewX(-15deg) skewY(-16deg);
    z-index: -1;
    border-radius: 1px;
    box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0;
  }

  &::after {
    content: '';
    position: absolute;
    height: 26vw;
    width: 23vw;
    bottom: -45%;
    left: 0%;
    color: $theme-blue;
    background: linear-gradient(45deg, rgba($theme-primary-bg-dark, 0.9), $theme-primary-bg-dark);
    transform-origin: 0 0;
    transform: rotateZ(46deg) skewX(-10deg) skewY(-10deg);
    z-index: -1;
    border-radius: 1px;
    box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0;
  }
  
  // Bg Illustration right
  .banner-image {
    position: absolute;
    height: 47vw;
    width: 40vw;
    top: -7%;
    right: 5%;
    margin: 30px 0 0 -30px;
    
    // Image
    .image {
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  // header section
  .header {
    margin-bottom: 2rem;
    
    // Heading
    .heading {
      color: $theme-primary;
      line-height: 1.2;
      font-weight: 900;
      
      &:after {
        content: '';
        display: block;
        width: 1.55rem;
        height: 0.25rem;
        margin: 1rem 0;
        background: $theme-success;
      }
    }
    
    // Subtext
    .sub-text {
      font-size: 1.1rem;
      line-height: 1.7;
      margin: 0 42rem 0 0;
      color: $theme-secondary;
    }
  }
  
  // Signup form section
  .signup-form {
    display: inline-block;
    border: 1px solid $theme-blue;
    border-radius: 3px;
    padding: 0 1rem;
    box-shadow: 0 2px 9px 1px rgba($black, 0.1);
    line-height: 45px;
    margin: 0 0.5rem 2rem 0;
    
    // Email
    .email-form {
      border: none;
      padding-right: 4rem;
      
      &::-webkit-input-placeholder {
        color: $gray-a;
        font-size: 15px;
      }
    }
    
    // Signup btn
    .btn-form {
      border: none;
      font-size: 15px;
      color: $theme-blue;
      font-weight: 600;
      background: $white;
      
      // Icon forward
      .icon-form {
        margin: 0 0 0 0.1rem;
      }
    }
  }
  
  // Demo button div
  .demo-btn {
    display: inline-block;
    border: 1px solid rgba($theme-blue, 0.3);
    border-radius: 3px;
    line-height: 45px;
    box-shadow: 0 2px 9px 1px rgba($black, 0.1);

    &:hover {
      transform: translateY(-2px) scale(1.02);
      box-shadow: 0 6px 20px 4px rgba(0, 0, 0, 0.1);
    }
    
    // Btn text
    .btn-demo {
      font-size: 15px;
      color: $theme-blue;
      font-weight: 600;
      padding: 0.75rem 1rem;
      background: $white;

      &:hover {
        color: $theme-primary-bg-dark;
      }
    }
    
  }
  
  // Footer section
  .footer-sec {
    font-size: 0.9rem;
    padding-left: 1rem;
    position: relative;
    
    &:before {
      content: '';
      position: absolute;
      top:0;
      left: 0;
      width: 1px;
      height: 42px;
      background-color: rgba($theme-blue, 0.3);
    }
    
    // Badge
    .badge {
      font-size: 12px;
      text-transform: uppercase;
      color: $white;
      background-color: $theme-info-bg;
      padding: 0.3rem 0.4rem;
      border-radius: 2px;
    }
    
    // Footer text
    .footer-text {
      // font-size: 0.9rem;
    }
    
    // Bold-text
    .bold-text {
      opacity: 0.8;
    }
    
    // Read more link text
    .read-text {
      opacity: 0.9;
      font-weight: 500;
      text-decoration: none;
      
      &:hover, &:focus, &:active {
        text-decoration: none;
        color: $theme-blue;
      }
    }
  }
  
  // footer image
  .banner-footer {
    position: absolute;
    height: 10vw;
    width: 11vw;
    bottom: -20%;
    left: 10%;

    // Image
    .image {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

}

// Popover
.popover {

  // Arrow
  .arrow {
    color: black;
    opacity: 0.9;

    &::before {
      border-bottom-color: rgba($black, 0.9) !important;
    }

    &::after {
      border-bottom-color: rgba($black, 0.9) !important;
    }
  }

  // body
  .popover-body {
    @include ff-primary;
    width: 242px;
    color: rgba($white, 0.8);
    padding: 10px 20px;
    background-color: rgba($black, 0.9);
    border-radius: 4px;
  }
}