// ######################################## //
// ## ANIMATIONS.SCSS ## //
// ######################################## //

@keyframes clientlist {
  
  // At 0%
  0% {
    transform: translateY(0%);
  }
  
  // At 100%
  100% {
    transform: translateY(-100%);
  }
}

@keyframes anim1 {
  
  // At 0%
  0% {
    opacity: 1;
    transform-origin: top;
    z-index: 100;
  }
  
  // At 100%
  100% {
    opacity: 0;
    transform-origin: top;
    z-index: 100;
  }
}

@keyframes anim2 {
  
  // At 0%
  0% {
    opacity: 0;
    transform: none;
    z-index: 101;
  }
  
  // At 25%
  25% {
    opacity: 0;
  }
  
  // At 100%
  100% {
    opacity: 1;
    transform: none;
    z-index: 101;
  }
  
  
}