// ######################################## //
// ## BADGES.SCSS ## //
// ######################################## //

.badge-success {
  padding: 5px 5px;
  margin: 0 0.5rem;
  background-color: #08ca73;
  border-radius: 2px;
}