// ######################################## //
// ## CARAUSELS.SCSS ## //
// ######################################## //

// testimonial flickity carousel


// flickity button
.flickity-button {
  position: relative;
  border: 1px solid rgba($theme-blue, 0.3);
  margin: 0 2rem;
  transform: translate(1170%, 50%);
  transition: 0.2s opacity;
  box-shadow: 0 1px 4px 0 rgba($black, 0.1);
  
  //prev next button
  &.flickity-prev-next-buttton {

    &.previous {
      left: 0 !important;
    }

    &.next {
      right: 0;
    }
  }
  
  // flickity arrow
  .flickity-button-icon {
    fill: $theme-blue;
    top: 20%;
    left: 18%;
    width: 40%;
    height: 60%;
    transform: translate(25%, 0%);
  }
}

// prev next button
  .flickity-prev-next-buttton {

    &.previous {
      left: 0 !important;
    }

    &.next {
      right: 0;
    }
  }

  // disabled button
  .flickity-button:disabled {
    opacity: 0;
    transition: 0.2s opacity;
  }