// ######################################## //
// ## CARAUSELS.SCSS ## //
// ######################################## //

// testimonial flickity carousel


// flickity button
.flickity-button {
  
  position: absolute;
  top: 115%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba($theme-blue, 0.3);
  transition: 0.2s opacity;
  box-shadow: 0 1px 4px 0 rgba($black, 0.1);
  
  
  &.previous {
    left: 46% !important;
    
    @include desktop-lg {
      left: 48% !important;
    }
    
    @include mobile {
      left: 35% !important;
    }
  }
  
  &.next {
    left: 52% !important;
  }
  
  // flickity arrow
  .flickity-button-icon {
    fill: $theme-blue;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 60%;
    transform: translate(-50%, -50%);
  }
}

// prev next button
.flickity-prev-next-buttton {
  
  &.previous {
    left: 0 !important;
  }
  
  &.next {
    right: 0;
  }
}

// disabled button
.flickity-button:disabled {
  opacity: 0;
  transition: 0.2s opacity;
}
