
// ######################################## //
// ## FORMS.SCSS ## //
// ######################################## //

// form-section
.demo-form {
  margin: 20rem 0;
  
  // heading
  .heading {
    padding: 1rem;
  }
  
  // form
  .form {
    text-align: center;
    border: 1px solid $theme-blue;
    margin: 5rem !important;
  }
  
  // form-groups
  .form-group {
    margin: 2rem;
  }
}