// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$white: #ffffff;


// Color Shades (Theme Based - Xclusive)
$theme-primary: #2d94f3;
$theme-primary-bg: #f7fafe;
$theme-primary-dark: #0741d2;
$theme-primary-text: #0d264c;
$theme-primary-shadow: #e4edfa;
$theme-secondary: #8695AE;
$theme-info: #9c6dff;
$theme-info-bg: #F7F4FE;
$theme-warning: #FF8238;
$theme-warning-bg: #FFFAF7;
$theme-success: #4AC14F;
$theme-success-bg: #F2FFF4;
$theme-danger: #f96464;
$theme-danger-bg: #FFF5F5;
$theme-yellow: #E3C040;
$theme-yellow-bg: #FDFCF6;
$theme-cyan: #35D2CC;
$theme-cyan-bg: #F6FDFD;
$theme-pink:#C83375;
$theme-pink-bg: #FFF8F9;
$theme-gray: #919DA8;

// Hackr Colors
$theme-hackr: #1C7AEE;
$theme-hackr-bg: #F2F7FF;

// Spectrum Colors
$theme-spectrum: #21C8AF;
$theme-spectrum-bg: #E5FFFB;

// Blog Colors
$theme-dark-secondary:#29293D;
$theme-blog:#20202C;
$blog-label-text :#b9c7db;