// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //

// Black (Gray) Color Shades
$black: #000000;
$gray-1: #111111;
$gray-2: #222222;
$gray-3: #333333;
$gray-4: #444444;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #888888;
$gray-9: #999999;
$gray-a: #aaaaaa;
$gray-b: #bbbbbb;
$gray-c: #cccccc;
$gray-d: #dddddd;
$gray-e: #eeeeee;
$white: #ffffff;


// Color Shades
$theme-primary: #0d2366;
$theme-primary-bg-dark: #185fc0;
$theme-primary-bg-light: #4597db;
$theme-secondary: #515978;
$theme-info: #9c6dff;
$theme-warning: #FF8238;
$theme-info-bg: #ff8a8a;
$theme-success: #49dab5;
$theme-success-bg: #F2FFF4;
$theme-danger: #f96464;
$theme-danger-bg: #FFF5F5;
$theme-blue: #528ff0;
$theme-checkmark: #0bffc1;
